@media (max-width: 576px)
    .container
        max-width: 100%
    .section
        &-suptitle
            margin-bottom: 16px
        &-title
            font-size: 28px
            line-height: 36px
            margin-bottom: 16px
        &-descr
            font-size: 16px
            line-height: 28px
            margin-bottom: 36px
    .hero
        &__header
            padding: 20px 0
        &__title
            font-size: 32px
            line-height: 40px
            margin: 40px 0 48px
        &__subtitle
            font-size: 16px
            line-height: 28px
            margin-bottom: 40px
        &__descr
            font-size: 14px
            line-height: 24px
            margin-bottom: 46px
            text-align: left
        &__button
            min-width: 207px
            padding: 13px 23px
            font-size: 16px
            line-height: 22px
            &-group
                flex-direction: column
                margin-bottom: 16px
            &:first-child
                margin: 0 0 12px 0
    .features-cards
        &__inner
            margin-top: -250px
            grid-template-columns: 1fr
            grid-gap: 12px
            margin-bottom: 24px
        &__item
            padding: 32px 24px
            align-items: center
            text-align: center
        &__icon
            margin-bottom: 23px
        &__title
            font-size: 20px
            line-height: 24px
            margin-bottom: 11px
        &__text
            font-size: 16px
            line-height: 28px
        &__explore-all
            display: block
            font-size: 16px
            line-height: 22px
    .quickstart
        &__title,
        &__descr
            max-width: 272px
        &__monitor
            max-width: 288px
            padding: 24px 5px 24px 24px
            margin-bottom: 20px
        &__button
            padding: 6px 12px
            font-size: 14px
            line-height: 20px
            + button
                margin-left: 8px
        &__code-sample
            font-size: 14px
            line-height: 20px
        &__explanation
            &-item
                flex-direction: column
                align-items: center
        &__requiares
            margin: 0
        &__text
            font-size: 14px
            line-height: 20px
            &:first-child
                margin-bottom: 16px
    .powerfull
        padding-bottom: 40px
        &__card
            padding: 40px 0 30px
        &__count
            font-size: 32px
            line-height: 42px
            margin-bottom: 3px
        &__text
            font-size: 16px
            line-height: 28px
    .features
        padding: 40px 0 35px
        &__inner
            grid-gap: 12px
        &__card
            padding: 23px
            &-icon
                margin-bottom: 20px
            &-title
                font-size: 20px
                line-height: 24px
                margin-bottom: 11px
                text-align: center
            &-text
                font-size: 16px
                line-height: 28px
                margin-bottom: 20px
            &-link
                font-size: 16px
                line-height: 22px
    .sponsors
        padding-bottom: 64px
        &__container
            max-width: 100%
            padding: 0 15px
        &__inner
            margin: 0
        &__title
            margin-bottom: 20px
            font-size: 28px
            line-height: 36px
        &__left-side
            margin-bottom: 61px
        &__right-side
            position: relative
            min-height: 463px
            width: 100%
            margin: 0
        &__item
            position: absolute
            margin: 0
            &--airbnb
                left: 0
                bottom: 82px
            &--google
                left: 96px
                top: 0
            &--fitbit
                left: 2px
                top: 105px
            &--spotify
                top: 151px
                right: 0
            &--mapbox
                bottom: 0
                right: 0
        &__wave
            display: none
    .questions
        margin: 0
        padding: 48px 0
        &__descr
            margin-bottom: 40px
        &-pins
            flex-wrap: wrap
            justify-content: center
            margin-bottom: 37px
            &__item + .questions-pins__item
                margin: 21px 0 0 0
            &__item
                max-width: 272px
        &__slider
            max-width: 272px
        &-slider
            &__slide
                padding-bottom: 21px
            &__image
                margin-bottom: 30px
            &__text
                margin-bottom: 24px
                font-size: 28px
                line-height: 44px
                max-width: 100%
    .accordeon
        &__wrapper
            padding: 0 24px
        &__item
            padding: 28px 0 25px
        &__question
            font-size: 16px
            line-height: 22px
        &__icons
            display: none
        &__answer
            font-size: 14px
            line-height: 24px
            margin: 12px 0 0
    .sign-up
        &__title
            position: relative
            z-index: 5
            max-width: 272px
            font-size: 28px
            line-height: 36px
            margin-bottom: 40px
        &__left-patern
            bottom: -163px
            left: -380px
        &__right-patern
            display: none
        &__button
            min-width: 100%
            display: flex
            align-items: center
            justify-content: center
            &-group
                width: 100%
        &__git
            margin-right: 10px
            &-button
                color: $black
                background-color: $white
                margin-bottom: 12px
                svg
                    fill: $black
        &__arrow-right
            margin-left: 21px
    .header
        &--pricing
            padding: 20px 0
        &__logo
            height: 24px
            &-image
                width: 77px
                height: auto
        &__link
            height: 100%
    .pricing
        &-hero
            padding-top: 64px
            padding-bottom: 40px
            &__title
                font-size: 32px
                line-height: 40px
                margin: 40px 0 16px
            &__text
                font-size: 16px
                line-height: 28px
                margin-bottom: 40px
        &-plan
            padding-bottom: 0
            &__period
                font-size: 14px
                line-height: 20px
            &__economy
                font-size: 14px
                line-height: 20px
            &__switcher
                margin-bottom: 41px
                &-btn
                    margin: 0 12px
                    padding: 4px
                    width: 56px
                &-circle
                    &--annually
                        transform: translateX(22px)
            &__list
                grid-gap: 16px
            &__item
                &-wrapper
                    flex-direction: column
                    flex-wrap: nowrap
                    padding: 32px 20px 24px
    .plan
        &-card
            &__price
                margin-bottom: 10px
            &__name
                margin-bottom: 8px
                font-size: 20px
                line-height: 24px
            &__descr
                font-size: 14px
                line-height: 24px
                margin-bottom: 24px
            &__advantages
                padding: 24px 0 32px
                border-top: 1px solid #E5EAF4
                &-item
                    font-size: 14px
                    line-height: 20px
            &__button
                width: 100%
                padding: 9px 20px 9px 18px
                font-size: 14px
                line-height: 16px
    .included
        padding-top: 56px
        padding-bottom: 40px
        &__suptitle
            background-color: rgba(21, 101, 216, 0.1)
            color: $blue
            padding: 2px 12px
            margin-bottom: 16px
        &__title
            font-size: 28px
            line-height: 36px
            margin-bottom: 16px
        &__list
            padding-bottom: 0
            border-bottom: none
            grid-gap: 48px
        &__item
            flex-direction: column
            align-items: center
        &__image
            margin: 0
            margin-bottom: 32px
        &__descr
            align-items: center
            &-title
                margin-bottom: 12px
                font-size: 20px
                line-height: 24px
            &-text
                text-align: center
                font-size: 16px
                line-height: 28px
    .faq
        padding-top: 40px
        padding-bottom: 48px
        &__title
            margin-bottom: 32px
            font-size: 28px
            line-height: 36px
        &__accordeon
            margin-bottom: 60px
        &__item
            padding: 24px 20px
        &__question
            font-size: 16px
            line-height: 22px
        &__answer
            font-size: 14px
            line-height: 24px
        &__icon
            margin-left: 14px
        &__contact
            &-title
                font-size: 24px
                line-height: 32px
            &-descr
                max-width: 272px
                font-size: 16px
                line-height: 28px
                margin-bottom: 24px
            &-card
                padding: 32px 25px
                min-width: 100%
            &-image
                width: 36px
                height: 36px
                margin-bottom: 27px
            &-icon
                width: 100%
                height: 100%
            &-link
                margin-bottom: 8px
                font-size: 16px
                line-height: 20px
            &-text
                font-size: 14px
                line-height: 24px
    .footer
        padding: 48px 0 64px
        &__wrapper
            margin: 0
        &__menu
            padding: 0 9px
        &__list
            min-width: 0
            &-title
                font-size: 16px
                line-height: 22px
            &-item
                font-size: 14px
                line-height: 20px
            &-item + li
                margin-top: 15px
        &__info
            margin-top: 47px
            width: 100%
        &__logo
            margin-bottom: 16px
        &__text
            margin-bottom: 16px
            font-size: 14px
            line-height: 24px
        &__copyright
            display: none
        
        