.features-cards
    &__inner
        position: relative
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        justify-content: space-between
        margin-top: -210px
        padding-bottom: 71px
    &__item
        flex-basis: 49.6%
        display: flex
        align-items: flex-start
        padding: 32px
        margin-bottom: 9px
        background: $white
        border: 1px solid #E5EAF4
        box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05)
        border-radius: 16px
    &__icon
        width: 40px
        height: 40px
        margin-right: 24px
    &__title
        font-family: 'HKGrotesk-900'
        font-style: normal
        font-size: 22px
        line-height: 33px
        letter-spacing: 0.2px
        color: $black
        margin-bottom: 4px
    &__text
        max-width: 338px
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 32px
        color: $grey
    &__explore-all
        margin: 23px auto 0px
        border-bottom: 2px solid transparent
        color: $blue
        transition: 0.2s all
        &:hover
            border-bottom: 2px solid $blue
    &__link
        font-style: normal
        font-weight: 900
        font-size: 18px
        line-height: 25px
    &__arrow-right
        fill: $blue
        margin-left: 15px
        width: 13px
        height: 16px
        vertical-align: middle