.mobile-menu
    position: absolute
    top: 20px
    right: 0
    z-index: 10
    background-color: $white
    border-radius: 12px
    box-shadow: 0px 16px 48px rgba(0, 0, 0, 0.16)
    min-width: 304px
    padding: 36px 24px 26px
    color: $black
    font-style: normal
    font-weight: 400
    font-size: 16px
    line-height: 22px
    display: none
    transform: scale(0)
    transition: transform 0.5s
    &--active
        display: block
    transform: scale(1)
    transform-origin: left top
    &__list
        width: 100%
    &__submenu
        &-list
            width: 100%
            margin-top: 20px
            margin-left: 12px
            display: none
        &-item + &-item
            margin-top: 16px
        &-link
            width: calc(100% - 12px)
            display: inline-flex
            align-items: center
            justify-content: space-between
        &--active
            color: $blue
        &--active > svg
            fill: $blue
    &__subsubmenu-list
        width: 100%
        margin: 16px 0px 16px 12px
        display: none
    &__subsubmenu-item + &__subsubmenu-item
        margin-top: 12px
    &__link
        width: 100%
        display: inline-flex
        align-items: center
        justify-content: space-between
        &--active
            color: $blue
        &--active > svg
            fill: $blue
    &__item + &__item
        margin-top: 20px
    &__icon
        width: 7px
        height: 16px
        fill: $black
    &__button
        width: 100%
        margin-top: 20px
        padding: 9px 86px
        font-style: normal
        font-weight: 900
        font-size: 16px
        line-height: 22px
        color: $blue
        border: 2px solid $blue 
        box-sizing: border-box
        border-radius: 8px
    &__close-btn
        position: absolute
        top: 16px
        right: 20px